{% extends "global/post_login_base.html" %}

{% block title %}Password Reset |{% endblock title %}

{% block content %}

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      {% if messages %}
        <div class="form-floating mb-3">
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>  
            {% else %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Reset your password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          {% if validlink %}
            <form name="password_reset_confirm_form" autocomplete="off" action="" method="POST" novalidate>
              <div class="form-floating mb-3">
                {{ form.new_password1 }}
                <label for="form.new_password1.id_for_label">{{ form.new_password1.label_tag }}</label>
                {% if form.new_password1.errors %}
                  <div class="text-danger">
                    <small >{{ form.new_password1.errors }}</small>
                  </div>
                {% endif %}
              </div>
              <div class="form-floating mb-3">
                {{ form.new_password2 }}
                <label for="form.new_password2.id_for_label">{{ form.new_password2.label_tag }}</label>
                {% if form.new_password2.errors %}
                  <div class="text-danger">
                    <small >{{ form.new_password2.errors }}</small>
                  </div>
                {% endif %}
              </div>
              {% csrf_token %}
              <button name="change_password" class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Change Password</button>
            </form>
          {% else %}
            <div class="form-floating mb-3">
              <p>The password reset link was invalid, possibly because it has been already used. Please, request a new password reset <a href="{% url "apps.condo_people:password_reset" %}">here</a>.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}