{% extends "global/post_login_base.html" %}

{% block title %}Password Reset |{% endblock title %}

{% block content %}

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      {% if messages %}
        <div class="form-floating mb-3">
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>  
            {% else %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Forgotten your password?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="window.location.href = '{% url "apps.prelogin:home" %}'"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          <p>Enter your e-mail address to obtain a new password.</p>
        <form name="password_reset_form" autocomplete="off" action="{% url "apps.condo_people:password_reset" %}" method="POST" novalidate>
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{ form.email }}
            <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
            {% if form.email.errors %}
            <div class="text-danger">
              <small >{{ form.email.errors }}</small>
            </div>
            {% endif %}
          </div>
          <button name="change_password" class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

