*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
logs
stats
Dockerfile
__localcode/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.gitignore
base_texts.txt
fast_tries.py
start.sh