# Django Secret Key
SECRET_KEY = 'CHANGE_ME'

# 0 = False
# 1 = True
DEBUG = 1

# Comma separated values
ALLOWED_HOSTS = "127.0.0.1, localhost"

CHROMEDRIVER_NAME = chromedriver

DB_ENGINE=django.db.backends.postgresql

DJANGO_SETTINGS_MODULE=project.settings
DJANGO_ENV=development

POSTGRES_DB=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# SOME OTHER IMPORTANT CONFIG (i.e POSTGRESUSER) WILL BE ADDED BELLOW BY RUNING SCRIPTS:

