<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="/media/condo_me/covers/condo_friends_hp.jpg"
          class="d-block mx-lg-auto img-fluid"
          alt="Friends front, buildings back"
          width="700"
          height="500"
          loading="lazy"
        />
        <span
          class="position-relative bottom-0 end-0 fs-sm-2 text-end text-muted"
          style="font-size: 80%"
          >Image by freepik</span
        >
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Neighbours are family
        </h1>
        <p class="lead">
          Condominiums have common areas. With <strong>Condo-me</strong>,
          residents can enjoy these areas in an organized, respectful, and
          equitable manner. Through rules predefined by an administrator
          user, each resident can schedule, reschedule, and cancel specific
          dates and times for using each common area, and all users will
          have the transparency that will provide the well-being so
          important for collective living.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a type="button" href="{% url "condo_people:login" %}"  class="btn btn-outline-dark btn-lg px-4 me-md-2">
            Login
          </a>
          <a
            type="button"
            href="{% url "condo_people:register" %}"
            class="btn btn-outline-dark btn-lg px-4"
          >
            Sign-up
        </a>
        </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>