{% load static %}

<section class="py-2 text-center container-fluid">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1 class="fw-light">Apartment Setup</h1>
      <p class="lead text-body-secondary">Here you can register, edit or delete information and details about a condominium Apart.</p>
    </div>
  </div>
</section>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <a href="{% url "condo:condo_setup_apartment_list_by_block" block_id %}" class="text-decoration-none">
        <i class="bi bi-arrow-left"></i>Back to {{ current_apartment.block.number_or_name }} apartments</a>
    </div>
  </div>
</div>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      {% if messages %}
        <div class="form-floating mb-3">
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>  
            {% else %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h4 class="mb-3">Edit an Apartment:</h4>
        <form id="ApartmentForm" 
        name="apartment_data"
        autocomplete="on"
        action="{% url 'condo:condo_setup_apartment_edit' current_apartment.id %}" 
        method="POST" 
        class="needs-validation"
        novalidate=""
        enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row g-3">
            
            <div class="col-12 my-2">
              <label for="{{ form.number_or_name.id_for_label }}" >{{form.number_or_name.label}}</label>
              <div class="input-group">
                {{ form.number_or_name }}
              </div>
                {% if form.number_or_name.errors %}
                <div class="text-danger">
                  <small>{{ form.number_or_name.errors }}</small>
                </div>
                {% endif %}
              </div>
          </div>
            <button class="w-100 btn btn-warning btn-sm btn-lg" id="editButton" type="submit">Save</button>
            {% if current_apartment %}
            <div class="my-2"></div>
            <a href="{% url 'condo:condo_setup_apartment_delete' current_apartment.id %}" class="w-100 btn btn-danger btn-sm btn-lg">Delete</a>
            {% endif %}
        </form>
    </div>
  </div>
</div>
