{% load static %}

<section class="py-2 text-center container-fluid">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1 class="fw-light">Block Setup</h1>
      <p class="lead text-body-secondary">Here you can register, edit or delete information and details about a condominium Block.</p>
    </div>
  </div>
</section>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <a href="{% url "condo:condo_setup_block_list" %}" class="text-decoration-none">
        <i class="bi bi-arrow-left"></i>Back to Setup Blocks</a>
    </div>
  </div>
</div>


<div class="px-4">
  <div class="py-3">
    <div class="row justify-content-center">
      <div class="col-12">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h4 class="mb-3">Create a Block:</h4>
        <form id="BlockForm" 
        name="block_data"
        autocomplete="on"
        action="{% url 'condo:condo_setup_block_create' %}" 
        method="POST" 
        class="needs-validation"
        novalidate=""
        enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row g-3">
            
            <div class="col-12">
              <label for="{{ form.number_or_name.id_for_label }}" >{{form.number_or_name.label}}</label>
              <div class="input-group">
                {{ form.number_or_name }}
              </div>
                {% if form.number_or_name.errors %}
                <div class="text-danger">
                  <small>{{ form.number_or_name.errors }}</small>
                </div>
                {% endif %}
              </div>

            <div class="col-12">
              <label for="{{ form.description.id_for_label }}">{{form.description.label}}</label>
              <div class="input-group">
                {{ form.description }}
              </div>
                {% if form.description.errors %}
                <div class="text-danger">
                  <small>{{ form.description.errors }}</small>
                </div>
                {% endif %}
                {% comment %} {% if block_exists %}
                <div class="mt-1">
                  <button type="button"  class="btn btn-outline-secondary btn-sm" role="button" onclick="enableField('description')">Edit</button>
                </div>
                {% endif %} {% endcomment %}
              </div>

              <div class="col-12">
                <label for="{{ form.apartments_count.id_for_label }}">{{form.apartments_count.label}}</label>
                <div class="input-group">
                  {{ form.apartments_count }}
                </div>
                  {% if form.apartments_count.errors %}
                  <div class="text-danger">
                    <small>{{ form.apartments_count.errors }}</small>
                  </div>
                  {% endif %}
                </div>

            <div class="col-6">
              <label for="{{ form.cover.id_for_label }}">{{ form.cover.label }}</label>
              <div>
              {{ form.cover }}
              {% if form.cover.errors %}
                <div class="text-danger">
                  <small>{{ form.cover.errors }}</small>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <button class="w-100 btn btn-warning btn-sm btn-lg" id="editButton" type="submit">Save</button>
        </form>
    </div>
  </div>
</div>
