<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Why <strong>CondoMe</strong>?</h2>
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
    >
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-fingerprint"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
            Do it yourself
          </h3>
          <p>
            There is no need to request assistance from condominium staff to
            make or manage your reservations.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-calendar2-day"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Schedule</h3>
          <p>
            Choose the common area you want to use and make a reservation in
            a couple of steps.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-calendar2-check"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Availability</h3>
          <p>Check if the common area you want to schedule is available.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-x-square"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Cancel</h3>
          <p>
            Won't be able to use the common area? No worries, canceling a
            reservation is easy.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-alarm"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
            Get reminders
          </h3>
          <p>
            The app can send you reminders as your reservation approaches.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-search"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Search</h3>
          <p>
            With Condo-me you may check for past dates reservations you
            made.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-info-square"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Rules</h3>
          <p>
            Understand the reservation rules and also the terms of use for
            the common areas of your condominium.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <i
          class="bi text-body-secondary flex-shrink-0 me-3"
          width="1.75em"
          height="1.75em"
          ><i class="bi bi-calendar2-day"></i
        ></i>
        <div>
          <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
            Featured title
          </h3>
          <p>
            Paragraph of text beneath the heading to explain the heading.
          </p>
        </div>
      </div>
    </div>
    <div class="container row align-items-center">
      <a href="{% url "prelogin:pricing" %}" class="btn btn-warning btn-lg">Check Prices</a>
    </div>
  </div>

</main>