<div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">Please, fill in the blanks so we may send you an e-mail with further registration information.</p>
        <h3>PLEASE, NOTICE THAT AS A DEVELOPMENT PROJECT, ONLY "YOUR INFO" FIELDS BELLOW MATTER!!</h3>
      </div>
  
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-warning">Your cart</span>
            <span class="badge bg-warning rounded-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-body-secondary">Brief description</small>
              </div>
              <span class="text-body-secondary">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">−$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
  
          <form class="card p-2" name="purchase_form", autocomplete="on" action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
          </form>
        </div>
        
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Your Info</h4>
          <form class="needs-validation" name="purchase_form", autocomplete="on" action={% url "purchase:purchase_create" %} method="POST" novalidate>
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="{{ form.customer_first_name.id_for_label }}" class="form-label">{{ form.customer_first_name.label_tag }}<span class="text-body-secondary">(Required)</span></label>
                {{ form.customer_first_name }}
                {% if form.first_name.errors %}
                  <div class="invalid-feedback d-block">
                  {{ form.customer_first_name.errors }}
                  </div>
                {% endif %}
              </div>
  
              <div class="col-sm-6">
                <label for="{{ form.customer_last_name.id_for_label }}" class="form-label">{{ form.customer_last_name.label_tag }}<span class="text-body-secondary">(Required)</span></label>
                {{ form.customer_last_name }}
                {% if form.customer_last_name.errors %}
                  <div class="invalid-feedback d-block">
                    {{ form.customer_last_name.errors }}
                  </div>
                {% endif %}
              </div>
              <div class="col-12">
                <label for="{{ form.customer_email.id_for_label }}" > {{ form.customer_email.label_tag }} <span class="text-body-secondary">(Required)</span></label>
                {{ form.customer_email }}
                {% if form.customer_email.errors %}
                  <div class="invalid-feedback d-block">
                    {{ form.customer_email.errors }}
                  </div>
                {% endif %}
              </div>
  
            <hr class="my-4">
  
            <h4 class="mb-3">Payment</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                <label class="form-check-label" for="credit">Credit card</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="debit">Debit card</label>
              </div>
              <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="paypal">PayPal</label>
              </div>
            </div>
  
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                <small class="text-body-secondary">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-warning btn-lg" type="submit">Continue to checkout</button>
          </form>
        </div>
      </div>
    </main>
  
  </div>