<section class="py-2 text-center container-fluid">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1 class="fw-light">Condominium Setup</h1>
      <p class="lead text-body-secondary">Here you can enter or edit information and details about your condominium entity.</p>
    </div>
  </div>
</section>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h4 class="mb-3">Condominium Information</h4>
      <form name="condominium_data" autocomplete="on" action="{% url "condo:setup_condominium" %}" method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3">
          
          <div class="col-12">
            <label for="{{ form.name.id_for_label }}" >{{form.name.label}}</label>
            <div class="input-group">
              {{ form.name }}
              {% if form.name.errors %}
              <div class="text-danger">
                <small>{{ form.name.errors }}</small>
              </div>
            {% endif %}
            </div>
          </div>

          <div class="col-12">
            <label for="{{ form.description.id_for_label }}">{{form.description.label}}<span class="text-body-secondary">(Optional)</span></label>
            <div class="input-group">
              {{ form.description }}
              {% if form.description.errors %}
              <div class="text-danger">
                <small>{{ form.description.errors }}</small>
              </div>
            {% endif %}
            </div>
          </div>

          <div class="col-12">
            <label for="{{ form.cnpj.id_for_label }}">{{form.cnpj.label}}</label>
            <div class="input-group">
              {{ form.cnpj }}
              {% if form.cnpj.errors %}
              <div class="text-danger">
                <small>{{ form.cnpj.errors }}</small>
              </div>
            {% endif %}
            </div>
          </div>

          <div class="col-12">
            <label for="{{ form.address1.id_for_label }}">{{form.address1.label}}<span class="text-body-secondary">(Optional)</span></label>
            {{ form.address1 }}
            {% if form.address1.errors %}
              <div class="text-danger">
                <small>{{ form.address1.errors }}</small>
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.address2.id_for_label }}">{{ form.address2.label }}<span class="text-body-secondary">(Optional)</span></label>
            {{ form.address2 }}
            {% if form.address2.errors %}
              <div class="text-danger">
                <small>{{ form.address2.errors }}</small>
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.city.id_for_label }}">{{ form.city.label }}<span class="text-body-secondary">(Optional)</span></label>
            {{ form.city }}
            {% if form.city.errors %}
              <div class="text-danger">
                <small>{{ form.city.errors }}</small>
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.state.id_for_label }}">{{ form.state.label }}<span class="text-body-secondary">(Optional)</span></label>
            {{ form.state }}
            {% if form.state.errors %}
              <div class="text-danger">
                <small>{{ form.state.errors }}</small>
              </div>
            {% endif %}
          </div>
          
          <div class="col-md-5">
            <label for="{{ form.country.id_for_label }}">{{ form.country.label }}<span class="text-body-secondary">(Optional)</span></label>
            <select class="form-select" id="country" name="{{ form.country.name }}">
              <option value="">Choose...</option>
              <option value="BR">Brazil</option>
              <option value="US">United States</option>
            </select>
            {% if form.country.errors %}
              <div class="text-danger">
                <small>{{ form.country.errors }}</small>
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }}<span class="text-body-secondary">(Optional)</span></label>
            {{ form.postal_code }}
            {% if form.postal_code.errors %}
              <div class="text-danger">
                <small>{{ form.postal_code.errors }}</small>
              </div>
            {% endif %}
          </div>

          <div class="col-6">
            <label for="{{ form.cover.id_for_label }}">{{ form.cover.label }}<span class="text-body-secondary">(Optional)</span></label>
            {{ form.cover }}
            {% if form.cover.errors %}
              <div class="text-danger">
                <small>{{ form.cover.errors }}</small>
              </div>
            {% endif %}
          </div>
        <button class="w-100 btn btn-warning btn-lg" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
