<section class="py-2 text-center container-fluid">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Setup Area</h1>
      <p class="lead text-body-secondary">Here you can enter or edit information and details about your condominium. You will be able to add the rules for using the condominium's common areas. You can also register or manage caretakers and residents on the platform.</p>
    </div>
  </div>
</section>
<div class="album py-5 bg-body-tertiary">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      <div class="col">
        <div class="card shadow-sm">
          {% if condo_cover %}
            <img src="/media/{{ condo_cover }}" class="bd-placeholder-img card-img-top" width="100%" height="225" style="object-fit: cover;"></img>
          {% else %}
            <img src="/media/condo_me/covers/setup_condominium.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" style="object-fit: cover;"></img>
          {% endif %}
          <div class="card-body">
            <p class="card-text text-center"><strong>Condominium</strong></p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a href="{% url "condo:setup_condominium" %}" type="button" class="btn btn-sm btn-outline-warning">View or Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/media/condo_me/covers/setup_blocks.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" style="object-fit: cover;"></img>
          <div class="card-body">
            <p class="card-text text-center"><strong>Blocks</strong></p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-warning">View or Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/media/condo_me/covers/setup_apartments.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" style="object-fit: cover;"></img>
          <div class="card-body">
            <p class="card-text text-center"><strong>Apartments</strong></p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-warning">View or Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/media/condo_me/covers/setup_common_areas.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" style="object-fit: cover;"></img>
          <div class="card-body">
            <p class="card-text text-center"><strong>Common Areas</strong></p>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-warning">View or Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>