{% extends "global/pre_login_base.html" %}

{% block title %}Login |{% endblock title %}

{% block content %}

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 pt-0">
          {% if messages %}
          <div class="form-floating mb-3">
            {% include "global/success.html" %}
          </div>
          {% endif %}
          <form name="register_form" autocomplete="on" action="/condo_people/register/" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="U1sjFfWlx5J8UG3AoGYjSQ0wDE5pJO7w8Rrml24cSqgqhhB4SvMQGV9lSMLMmmzL">
            <div class="form-floating mb-3">
              <input type="text" name="username" class="form-control rounded-3" id="floatingUsername" placeholder="username" value="">
              <label for="floatingUsername">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" name="password1" class="form-control rounded-3" id="floatingPassword1" placeholder="password1" value="">
              <label for="floatingPassword1">Password</label>
            </div>
            <button name="signup" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Login</button>
            <small class="text-body-secondary">Not a user?</small>
            <button name="login-button" class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-primary" type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}