<section class="py-2 text-center container-fluid">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1 class="fw-light">Block Setup</h1>
      <p class="lead text-body-secondary">Here you can register, edit or delete information and details about a condominium Block.</p>
    </div>
  </div>
</section>

<div class="modal-dialog" role="document">
  <div class="modal-content rounded-3 shadow">
    <div class="modal-body p-4 text-center">
      <h5 class="mb-0 text-danger">Are you sure you want to delete {{ block_name }}?</h5>
      <p class="mb-0">This operation can not be undone!</p>
    </div>
    <div class="modal-footer flex-nowrap p-0">
      <form method="POST" action="{% url 'condo:condo_setup_block_delete' block_id %}" class="col-6 m-0 p-0">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none w-100 py-3 m-0 rounded-0 border-end">
          <strong>Yes, delete it!</strong>
        </button>
      </form>
      <a href="{% url 'condo:condo_setup_block_unique' block_id %}" 
         class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0">
        No, thanks.
      </a>
    </div>
  </div>
</div>
