<section class="py-2 text-center container-fluid">
    <div class="row py-lg-5 justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h1 class="fw-light">Blocks Setup</h1>
            <p class="lead text-body-secondary">
                Here you can enter or edit information and details about the blocks your condominium has.
            </p>
        </div>
    </div>
</section>

{% if not condo_exists %}
<div class="py-2 container-fluid">
    <div class="row g-5 justify-content-center">
        <div class="col-lg-8 col-md-10">
            There is no Condominium registered yet. Please, 
            <a href="{% url 'condo:condo_setup_condominium' %}">register one.</a>
        </div>
    </div>
</div>
{% else %}
<div class="py-2 container-fluid">
    <div class="row g-5 justify-content-center">
        <div class="col-lg-8 col-md-10">
            <a href="{% url 'condo:condo_setup_home' %}">Back to Setup Area</a>
        </div>
    </div>
</div>

<div class="py-2 container-fluid">
    <div class="row g-5 justify-content-center">
        <div class="col-lg-8 col-md-10">
            {% if messages %}
            <div class="form-floating mb-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="py-2 container-fluid">
    <div class="row g-5 justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h4 class="mb-3">Block Information</h4>
            <form name="blocks_data" autocomplete="on" action="{% url 'condo:condo_setup_blocks' %}" 
                  method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <div class="input-group">
                            {{ form.name }}
                        </div>
                        {% if form.name.errors %}
                        <div class="text-danger">
                            <small>{{ form.name.errors }}</small>
                        </div>
                        {% elif condo_exists %}
                        <div class="mt-1">
                            <a class="btn btn-outline-secondary btn-sm" href="#" 
                               role="button" onclick="enableField('firstName')">Edit</a>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-12">
                        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                        <div class="input-group">
                            {{ form.description }}
                        </div>
                        {% if form.description.errors %}
                        <div class="text-danger">
                            <small>{{ form.description.errors }}</small>
                        </div>
                        {% elif condo_exists %}
                        <div class="mt-1">
                            <a class="btn btn-outline-secondary btn-sm" href="#" 
                               role="button" onclick="enableField('description')">Edit</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <button class="w-100 btn btn-warning btn-sm btn-lg" id="editBotton" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
