<section class="py-2 text-center container-fluid">
  <div class="row py-lg-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h1 class="fw-light">Condominium Setup</h1>
      <p class="lead text-body-secondary">Here you can enter or edit information and details about your condominium entity.</p>
    </div>
  </div>
</section>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <a href="{% url 'condo:condo_setup_home' %}" class="text-decoration-none">
        <i class="bi bi-arrow-left"></i> Back to Setup Area
      </a>
    </div>
  </div>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      {% if messages %}
        <div class="form-floating mb-3">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="py-2 container-fluid">
  <div class="row g-5 justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h4 class="mb-3">Condominium Information (all fields are <span class="small text-danger">required</span> except Image)</h4>
      <form id="condominiumForm" name="condominium_data" autocomplete="on" action="{% url "condo:condo_setup_condominium" %}" method="POST" class="needs-validation" novalidate="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-3">
          
          <div class="col-12">
            <label for="{{ form.name.id_for_label }}" >{{form.name.label}}</label>
            <div class="input-group">
              {{ form.name }}
            </div>
              {% if form.name.errors %}
              <div class="text-danger">
                <small>{{ form.name.errors }}</small>
              </div>
              {% endif %}
              {% if condo_exists %}
                <div class="mt-1">
                  <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('firstName')">Edit</a>
                </div>
              {% endif %}
            </div>

          <div class="col-12">
            <label for="{{ form.description.id_for_label }}">{{form.description.label}}</label>
            <div class="input-group">
              {{ form.description }}
            </div>
              {% if form.description.errors %}
              <div class="text-danger">
                <small>{{ form.description.errors }}</small>
              </div>
              {% endif %}
              {% if condo_exists %}
              <div class="mt-1">
                <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('description')">Edit</a>
              </div>
              {% endif %}
            </div>

          <div class="col-12">
            <label for="{{ form.cnpj.id_for_label }}">{{form.cnpj.label}}</label>
            <div class="input-group">
              {{ form.cnpj }}
            </div>
              {% if form.cnpj.errors %}
              <div class="text-danger">
                <small>{{ form.cnpj.errors }}</small>
              </div>
              {% endif %}
              {% if condo_exists %}
                <div class="mt-1">
                  <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('cnpj')">Edit</a>
                </div>
              {% endif %}
            </div>

            <div class="col-12">
              <label for="{{ form.address1.id_for_label }}">{{form.address1.label}}</label>
              <div class="input-group">
              {{ form.address1 }}
              </div>
              {% if form.address1.errors %}
                <div class="text-danger">
                  <small>{{ form.address1.errors }}</small>
                </div>
              {% endif %}
              {% if condo_exists %}
                <div class="mt-1">
                  <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('address1')">Edit</a>
                </div>
              {% endif %}
            </div>

          <div class="col-12">
            <label for="{{ form.address2.id_for_label }}">{{ form.address2.label }}</label>
            <div class="input-group">
            {{ form.address2 }}
            </div>
            {% if form.address2.errors %}
              <div class="text-danger">
                <small>{{ form.address2.errors }}</small>
              </div>
            {% endif %}
            {% if condo_exists %}
              <div class="mt-1">
                  <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('address2')">Edit</a>
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
            <div class="input-group">
            {{ form.city }}
            </div>
            {% if form.city.errors %}
              <div class="text-danger">
                <small>{{ form.city.errors }}</small>
              </div>
            {% endif %}
            {% if condo_exists %}
            <div class="mt-1">
                <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('city')">Edit</a>
            </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.state.id_for_label }}">{{ form.state.label }}</label>
            <div class="input-group">
            {{ form.state }}
            </div>
            {% if form.state.errors %}
              <div class="text-danger">
                <small>{{ form.state.errors }}</small>
              </div>
            {% endif %}
            {% if condo_exists %}
            <div class="mt-1">
                <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('state')">Edit</a>
            </div>
            {% endif %}
          </div>
          
          <div class="col-md-5">
            <label for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
            <div class="input-group">
            <br>
            {{ form.country }}
            </div>
            {% if form.country.errors %}
              <div class="text-danger">
                <small>{{ form.country.errors }}</small>
              </div>
            {% endif %}
            {% if  condo_exists %}
              <div class="mt-1">
                  <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('country')">Edit</a>
              </div>
            {% endif %}
          </div>

          <div class="col-12">
            <label for="{{ form.postal_code.id_for_label }}">{{ form.postal_code.label }}</label>
            <div class="input-group">
            {{ form.postal_code }}
            </div>
            {% if form.postal_code.errors %}
              <div class="text-danger">
                <small>{{ form.postal_code.errors }}</small>
              </div>
            {% endif %}
            {% if  condo_exists %}
              <div class="mt-1">
                  <a class="btn btn-outline-secondary btn-sm" href="#" role="button" onclick="enableField('postal_code')">Edit</a>
              </div>
            {% endif %}
          </div>

          <div class="col-6">
            <label for="{{ form.cover.id_for_label }}">{{ form.cover.label }}</label>
            <div>
            {{ form.cover }}
            {% if form.cover.errors %}
              <div class="text-danger">
                <small>{{ form.cover.errors }}</small>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <button class="w-100 btn btn-warning btn-sm btn-lg" id="editBotton" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
